#!/usr/bin/env python

import requests
import json
    
r = requests.get('{{ url }}')
r.status_code
r.headers['content-type']
r.encoding
r.text
r.json()

with open('{{ output }}', 'w') as txtfile:
    json.dump(r.json(), txtfile)

txtfile.close() 