#!/usr/bin/python

import requests
import json
    
r = requests.get('http://{{ host }}:{{ port }}/{{ path }}')
r.status_code
r.headers['content-type']
r.encoding
r.text
r.json()

with open('{{ target }}/{{ id }}.json', 'w') as txtfile:
    json.dump(r.json(), txtfile)

txtfile.close() 