import mysql.connector as mariadb

mariadb_connection = mariadb.connect(user='python_user', password='some_pass', database='employees')

https://dev.mysql.com/doc/connector-python/en/connector-python-installation-binary.html